$clr: (
  light: (
    DEFAULT: #f3f2f7,
    secondary: #faf0f3,
    alt: #f2f6f7,
  ),
  primary: (
    DEFAULT: #685c99,
    40: #f6f4f3,
    10: #e8e6ef,
  ),
  secondary: (
    100: #1f0a11,
    90: #3d1421,
    80: #5c1f31,
    70: #7a2941,
    60: #d03969,
    DEFAULT: #b83d62,
    40: #c8567c,
    30: #d27494,
    20: #dc93ab,
    10: #faf0f3,
  ),
  alt: (
    DEFAULT: #fcba04,
    40: #00e8fc,
    30: #c42021,
    20: #ebc2ce,
    10: #faf0f3,
  ),
);
